<div class="container-">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top margin-top:40px"style="margin-top:40px ">
      <div class="col-md-4 d-flex align-items-center" style="margin-left: 80px;">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <img src="assets/logo_smol.png"  height="30" alt="Logo" >
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© KrishiConnect 2025, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" style="margin-right:80px ;">
        <li class="ms-3">
          <a class="text-body-secondary" href="https://www.linkedin.com/in/chiragkhairnar/" target="_blank">
            <i class="bi bi-linkedin" style="font-size: 24px;"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-body-secondary" href="https://www.linkedin.com/in/vedant-tiwari-adv/" target="_blank">
            <i class="bi bi-linkedin" style="font-size: 24px;"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-body-secondary" href="https://github.com/Apurva-Shovit" target="_blank">
            <i class="bi bi-linkedin" style="font-size: 24px;"></i>
          </a>
        </li>
        
      </ul>
    </footer>
  </div>